#define LPPDM_DMA_REQ 19
#define LPPDM_DMA_CH_1  0
#define LPPDM_DMA_CH_2  1
#define LPPDM_DMA_CH_3  2
#define LPPDM_DMA_CH_4  3

&lppdm {
	status = "okay";
	dmas = <&dma2 LPPDM_DMA_CH_1 LPPDM_DMA_REQ>,
	       <&dma2 LPPDM_DMA_CH_2 LPPDM_DMA_REQ>,
	       <&dma2 LPPDM_DMA_CH_3 LPPDM_DMA_REQ>,
	       <&dma2 LPPDM_DMA_CH_4 LPPDM_DMA_REQ>;
	dma-names = "pdm_dma_1", "pdm_dma_2", "pdm_dma_3", "pdm_dma_4";
};


&dma2 {
	status = "okay";
};
